.img-flex img{
    width: 50px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 100px;
} 

.img-flex h5{
font-weight: 700;

}
.btn{
    width: 100%;
}

.cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: auto;

}

@media only screen and (max-width :800px){
    .cart{
       width: 100PX;
       
        
        
    }
    .carts{
        display: none;
    }
}